
.icone {
	height: 50px;
}

/***********CABEÇALHO***********/
header {
	background-color: #18B2E6;
}

footer {
	text-align: center;
}

.site-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 3rem;
	color: white;
}

.site-header-logo:hover{
	text-decoration: none;
	color: #F2A7B5;
}

.desenho {
	height: 60px;
}

/**********FUNDO************/
body {
	background-color: #FEFDDE;
}

/*************NAVBAR*************/
#navbar {
	background-color: #18B2E6;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: #F2A7B5
}

#atual {
	color: black;
}

/************SLIDESHOW************/
#slide {
  background-image: url("imagens/chihiro.jpg"); 
  background-size: cover;
}

.jumbotron {
	margin-top: 10px;//
	height: 500px;
	width: 1000px;
}

.jumbotron:hover {
	opacity: 80%;
}
/************SOBRE************/
#autor-texto:hover {
	text-decoration: none;
}

.titulo-postagem {
	background-color: #F2A7B5;
	color: white;
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-style: italic;
}

#conteudo {
	margin-top: 8px;
}

#sobre {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.photo {
	height: 300px;
	width: 500px;
	background-image: 100%;
}
/*************FILMES*************/
.cartaz {
	height: 280px;
	width: 200px;
	padding-right: 20px;
}

.cartaz:hover {
	opacity: 70%;
}
/**********CARDS RECENTES************/
#leia {
	background-color: #F2BF5E;	
}

.card_image {
	width:100%;
}

#cor-guia {
	color: #F2A7B5;
}

#cor-noticia {
	color: #BF3939;
}

#cor-review {
	color: #83A638;
}

/*FOOTER*/
.blog-footer {
	height: 300px;
	background-color: #F2A7B5; 
}

#faixa-filmes {
	background-color: #F2A7B5;
	margin-top: 50px;
}

#totoro_footer {
	width: 300px;
}

#posicao_boneco {
	margin-right: 10px;
}


.rede {
	height: 50px;
	margin-top: 10px;
}

.rede:hover {
	opacity: 40%;
}

.titulo-footer {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 3rem;
	color: white;
	padding-right: 6rem;
}

.autora {
	font-family: "Georgia";
	font-size: 1rem;
	margin-left: 20px;
	color: white;
}

.version {
	margin-left: 20px;
	margin-top: 70px;
	color: white;
	font-family: "Playfair Display";
}

.conecte {
	margin-top: 180px;
	margin-left: 50px;
}


/************GUIAS************/
.guias {
	height: 200px;
	width: 1000px;
	background-size: 100%;
}
.guias:hover {
	opacity: 70%;
}
